// fonts

$font-familyOpenSans: "Open Sans", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;

// colors
$color-dark: #221f20;
$color-grey: #d5d5d5;
$color-white: #ffffff;

//project colors
$color-main-text: $color-dark;
$color-grey-btn: $color-grey;
$color-gradient: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
